.emote:hover .code-box {
  display: flex;
  position: absolute;
  cursor: copy;
  top: -145px;
  left: -45px;
  bottom: 0;
}

.code-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 135px;
  opacity: .95;
  background-color: white;
  display: none;
  color: black;
  border: 2px black solid;
}

.enlarge-emote {
  height: 75%;
  border-bottom: 3px black solid;
}

.code {
  font-size: 20px;
  font-weight: 'bold'
}